.container{
    display: flex;
    justify-content: space-around;
    background-color: #FEFFEE;
    position: fixed;
    width: 100%
  }
  
  #logo {
    height: 120px;
    /* border-radius:  */
  }
  
  .navItems {
    margin-top: 40px;
    font-size: 25px;
    text-decoration: none;
    color: black;
  }
  