.container{
    display: flex;
    justify-content: space-evenly;
    background-color: whitesmoke;
    position: fixed;
    width: 100%;
    height: 5em;
  }
  
  #logo {
    height: 5em;
    border-radius: 10%
  }
  
  .navItems {
    margin-top: 1em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
  }
  