#menuDiv{
    width: 100vw;
    background-color: #6778AE;
}

.title {
    color: white;
    text-align: center;
}

.secondMenuDiv {
    background-color: #85b2e4;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
}

.menu{
    display: flex;
    flex-direction: column;
    background-color: red;
    height: 80vh;
}