
.items{
    background-color: #85b2e4;
    color: white;
    width: 45vw;
    margin: auto;
    border-radius: 40px;
    margin-bottom: 20px;
    
}

.breakfast {
    text-align: center;
    text-decoration: underline;
    width: 375px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.itemTitle{
    text-align: center;
    padding-top: 15px;
    margin-top: 0;
    margin-bottom: 0;
}

.description {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;

}

.price {
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 15px;
}

.lunch {
    text-align: center;
    text-decoration: underline;
    width: 375px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.salad {
    text-align: center;
    text-decoration: underline;
    width: 375px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 40px;
}

.lunchItems {
    background-color: #85b2e4;
    color: white;
    width: 45vw;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 40px;
}

.saladItems {
    background-color: #85b2e4;
    color: white;
    width: 45vw;
    margin: auto;
    border-radius: 40px;
    margin-bottom: 20px;
}