.content{
    display: grid;
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    
}
.ownerpic>img{
    width:100%;
    height:auto

}


.about>h1{
    margin: 5vh 15vh 0vh 15vh;
}

.about>p{
    margin: 3vh 10vh 0vh 10vh;
    text-align: justify
}

@media (max-width:1035px){
    .content{
        display: block;
    }
    .about{
        margin-bottom: 5vh 
     }
     .about>h1{
        margin: 5vh 10vh 0vh 10vh;
    }
}